useDynLib(softImpute)

import(Matrix)

export(softImpute,biScale,svd.als,impute,complete,Incomplete,splr,lambda0,simpute.als,simpute.svd,Ssimpute.als,Ssimpute.svd,Ssvd.als,softImpute.x.matrix,softImpute.x.Incomplete)
#exportPattern("*")
exportClasses(SparseplusLowRank,Incomplete)
exportMethods("%*%",as.matrix,dim,norm,rowMeans,rowSums,colMeans,colSums,coerce)
